version: 2.1

orbs:
  architect: giantswarm/architect@6.13.0

workflows:
  version: 2
  build:
    jobs:
    - architect/go-build:
        name: go-build
        context: architect
        binary: app-admission-controller
        filters:
            # Do this on every commit and when a new tag is created.
          tags:
            only: /^v.*/

    - architect/push-to-registries:
        context: architect
        name: push-to-registries
        requires:
        - go-build
        filters:
          tags:
            only: /^v.*/

          branches:
            ignore:
            - main
            - master
    - architect/push-to-app-catalog:
        name: push-app-admission-controller-to-control-plane-catalog
        context: architect
        executor: app-build-suite
        app_catalog: control-plane-catalog
        app_catalog_test: control-plane-test-catalog
        chart: app-admission-controller
        requires:
        - push-to-registries
        filters:
            # Do this on every commit and when a new tag is created.
          tags:
            only: /^v.*/

          branches:
            ignore:
            - main
            - master
    - architect/integration-test:
        name: mutation-integration-test
        setup-script: integration/setup.sh
        test-dir: integration/test/mutation
        filters:
            # Do not trigger the job on merge to master.
          branches:
            ignore:
            - master
        requires:
        - push-app-admission-controller-to-control-plane-catalog

    - architect/integration-test:
        name: validation-integration-test
        setup-script: integration/setup.sh
        test-dir: integration/test/validation
        filters:
            # Do not trigger the job on merge to master.
          branches:
            ignore:
            - master
        requires:
        - push-app-admission-controller-to-control-plane-catalog
